* { 
  margin: 0; 
  padding: 0; 
  font-size: 10pt; 
}

.ivid {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ivid__video {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/*
  CHOICES
*/
.ivid__choice-wrapper {
  position: absolute;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  bottom: 0;
  width: 100%;
}
.ivid__choice-wrapper[data-state=hidden] {
  display: none;
}

.ivid__choice-button {
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 7.6em;
  background-color: rgba(0,0,0,0.28);
}

.ivid__choice-button:hover {
  font-size: larger;
  background-color: rgba(0,0,0,0.32);
}


/*
  CONTROLS
*/
.ivid__ctrls-wrapper {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 1.8em;
  right: 1.8em;

}
.ivid__ctrls-wrapper[data-state=hidden] {
  display: none;
}


/*
  PROGRESS
*/
.ivid__ctrls-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  height: 2em;
  width: 100%;
  
}

.ivid__ctrls-progress > progress {
	display: block;
	width: 100%;
	height: 15%;
	margin-top: 0.2em;
	margin-top: 0.125em;
	border: none;
	overflow: hidden;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
	color: red;
}
.ivid__ctrls-progress > progress:hover {
	height: 20%;
}
.ivid__ctrls-progress > progress[data-state="pollyfill"] {
	background-color: #ccc;
}

.ivid__ctrls-progress > span {
  display: none;
}
.ivid__ctrls-progress > span[data-state=pollyfill] {
  display: inline-block;
	background-color: red;
	height: 15%;	
}
.ivid__ctrls-progress > span[data-state=pollyfill]:hover {
	height: 20%;	
}

.ivid__ctrls-progress > progress::-moz-progress-bar {
	background-color: red;
}
.ivid__ctrls-progress > progress::-webkit-progress-value {
	background-color: red;
}
/* PROGRESS END */


.ivid__ctrls-buttons-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 1.3em;
}
.ivid__ctrls-button {
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: none;
  margin: 0 0.3em;
}
.ivid__ctrls-button[data-state]::before {
  content: attr(data-state);
}


.ivid__ctrls-volume-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ivid__ctrls-volume {
  -webkit-appearance: none;
  width: 100%;
  height: 0.3em;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: visibility .2s;
}
.ivid__ctrls-volume[data-state=open] {
  display: block;
  visibility: visible;
}
.ivid__ctrls-volume[data-state=close] {
  display: none;
  visibility: hidden;
}
.ivid__ctrls-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: white;
  width: 1em;
  height: 1em;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
.ivid__ctrls-volume::-moz-range-thumb {
  cursor: pointer;
  background: white;
  width: 1em;
  height: 1em;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.ivid__ctrls-spacer {
  width: 100%;
}