.ivid {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ivid__video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.ivid__choice-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  z-index: 2147483647;
}

.ivid__choice-button {
  width: 100%;
  height: 76px;
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
  background-color: rgba(0,0,0,0.28);
}

.ivid__choice-button:hover {
  font-size: larger;
  background-color: rgba(0,0,0,0.32);
}

.hidden {
  display: none;
}